body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/backgroundPic.jpg);
}

.chatContainer {
    width: 800px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    overflow: hidden;
}

.chatHeader {
    background-color: #23232F ;
    color: white;
    padding: 15px; 
    text-align: center;
    font-size: 24px; 
    font-weight: bold;
}

.chatMsgs {
     flex: 1; 
    padding: 15px;
    overflow-y: auto;
    background-color: black;
    height: calc(80vh - 120px); 
}

.msgUser1 {
    max-width: 70%;
    background-color: #0fae86  ;
    color: white;
    align-self: flex-end;
    text-align: right;
    margin-top: 10px;
    margin-left: auto;
    max-width: 500px; 
    border-radius: 15px;
    border-top-right-radius: 0;
    padding: 10px; 
    font-size: 18px; 
}

.msgUser2 {
    display: block;
    background-color: #23232F ;
    color: white;
    align-self: flex-start;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 10px;
    font-size: 18px; 
    max-width: 500px;
    margin-top: 20px;
}
.userLogo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.msgContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.msgContent2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}



#panel {
    display: flex;
    border-top: 1px solid lightcyan;
    background-color: white;
}

#txtF {
    flex: 1;
    border: none;
    Border: #CCCCCC;
    padding: 15px; 
    font-size: 18px; 
    outline: none;
    color: white;
    background-color: #23232F;
    
    
}

#btn {
    background-color: #1bc399 ;
    color: white;
    border: none;
    padding: 15px 30px; 
    font-size: 18px; 
    cursor: pointer;
}

#btn:hover {
    background-color: #0a6f56 ;
}


.loader {
    border: 6px solid #f3f3f3; 
    border-radius: 50%;
    border-top: 6px solid #1bc399;
    width: 40px; 
    height: 40px; 
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
