body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cchatContainer {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
    
}

.chatHeader {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.chatMsgs{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 75%;
}

.msgUser1 {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}

.msgUser2 {
    background-color: #e5e5ea;
    align-self: flex-start;
}

.message span {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

#textPanel{
    display: flex;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

#txtF {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

#button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #45a049;
}